# SeaweedFS Configuration
S3_ACCESS_KEY_ID=change-me
S3_SECRET_ACCESS_KEY=change-me

# S3 Endpoints
S3_ENDPOINT=http://localhost:8333
S3_ENDPOINT_INTERNAL=http://s3:8333
S3_BUCKET=katisha

# Postgres Config
DB_HOST=localhost
DB_PORT=5432
DB_USER=user
DB_PASSWORD=password
DB_NAME=seaweed_metadata
